@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.nb-container {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ddd;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 15px;
}

.nb-container > a:hover {
  text-decoration: none;
  color:rgb(137, 137, 137);
}

.nb-container > a {
  text-decoration: none;
}

.nb-grid {
  height: 160px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.nb-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: white;
}

.nb-section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.75rem;
  margin-bottom: 1rem;
}

.nb-description-title {
  color: #000;
  font-size: 1.1rem;
  line-height: 1.35rem;
  margin-bottom: 5px;
}

.nb-pricing-container {
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  color: #555;
  border-top: 1px solid #ddd
}

.nb-photo-container {
  background: rgb(247, 247, 247);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nb-photo {
  width: 450px;
  top: -25%;
  left: -25%;
  transform: translateY(-25%) translateX(-25%);
}

.nb-amenities-list {
  padding: 0;
  margin-top: 16px;
  list-style: none;
}

.nb-amenities-list > li {
  margin: 0;
  display: inline;
}

  /* MEDIA QUERIES */

@media (max-width: 600px) {
  .nb-grid {
    display: block;
    height: auto;
  }
  .nb-photo-container {
    height: 350px ;
    width: 100%;
  }

  .nb-photo {
    width: auto;
    height: 375px;
    transform: translateY(0px);
    transform: translateX(0px);
  }

  .nb-pricing-container {
    flex-direction: column;
    align-items: center;
  }

  .nb-pricing-label {
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 400px) {
  .nb-photo-container {
    height: 250px;
  }

  .nb-photo {
    width: auto;
    height: 250px;
  }
}

/*  TYPOGRAPY  AND SPACING*/

.pad-10 {
  padding: 10px 10px 10px 10px;
}
.bold-text {
  font-weight: 500;
}

.bolder-text {
  font-weight: bold;
}

.light-text {
  color:rgb(137, 137, 137);
}

.dark-text {
  color: #000;
}

.small-text {
  font-size: .9em;
}





